<%- include('partials/header') -%>

<div class="container">
  <%services.forEach((service) => {%>

  <div class="jumbotron">
    <h3><%=service.title%></h3>
    <p><%=service.body%></p>
    <strong>Price: <span><%=service.price%> Rs</span></strong>
  </div>
  <%})%>
</div>
<%- include('partials/footer') -%>
